<div class="form-container">

  <div class="form-box">

    <h2>Agregar Vehículo</h2>

    <form [formGroup]="addVehicleForm" (ngSubmit)="onSubmit()">

      <!-- Patente -->
      <div class="form-group">
        <label>Patente</label>
        <input
          type="text"
          formControlName="patente"
          placeholder="Ingrese la patente"
        />

        <small *ngIf="addVehicleForm.get('patente')?.invalid && addVehicleForm.get('patente')?.touched"
               style="color:red;">
          Patente es requerida.
        </small>
      </div>

      <!-- Marca -->
      <div class="form-group">
        <label>Marca</label>
        <input
          type="text"
          formControlName="marca"
          placeholder="Ingrese la marca"
        />

        <small *ngIf="addVehicleForm.get('marca')?.invalid && addVehicleForm.get('marca')?.touched"
               style="color:red;">
          Marca es requerida.
        </small>
      </div>

      <div class="button-group">
        <button
          type="submit"
          class="btn-save"
          [disabled]="addVehicleForm.invalid">
          Guardar
        </button>

        <button
          type="button"
          class="btn-cancel"
          (click)="cancelar()">
          Cancelar
        </button>
      </div>

    </form>

  </div>

</div>
