<div class="garage-container" *ngIf="garage">
  <div class="garage-box">
    
    <!--<falta la imágen />-->
    
    <h3 class="garage-name">{{ garage.direccion }}</h3>
    <p class="garage-price">{{ garage.valorCocheraxH | currency }}</p>
    <p class="garage-lugares"> Lugares disponibles: {{ garage.cantLugares }}</p>
    
    <label for="duracion">Duración del alquiler (horas):</label>
    <input type="number" id="duracion" [(ngModel)]="duracionHoras" min="1" (input)="calcularTotal()" />
    <p class="alquiler-horas">Duración: {{ formatDuracionHoras(duracionHoras) }}</p>
    
    <p class="total-price">Total: {{ total | currency }}</p>
    
    <button class="btn-alquilar" (click)="registrarAlquiler()">Confirmar Alquiler</button>
  </div>
</div>
