<div class="container">
    <h2 mat-dialog-title>{{ operacion }} Usuario</h2>
    <mat-spinner *ngIf="loading" class="weel" [diameter]="30" ></mat-spinner>
  </div>
  <form [formGroup]="form" (ngSubmit)="addEditPersona()">
    <mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>nombre</mat-label>
        <input matInput formControlName="nombre" placeholder="Ingrese nombre"/>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>apellido</mat-label>
        <input matInput formControlName="apellido" placeholder="Ingrese apellido"/>
      </mat-form-field>
   
      <mat-form-field appearance="fill">
        <mat-label>telefono</mat-label>
        <input matInput formControlName="telefono" placeholder="Ingrese telefono"/>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>mail</mat-label>
        <input matInput formControlName="mail" placeholder="Ingrese mail"/>
      </mat-form-field>
   
      <mat-form-field appearance="fill">
        <mat-label>Rol</mat-label>
        <input matInput formControlName="Rol" placeholder="Ingrese Rol"/>
      </mat-form-field>
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button type="button" (click)="Cancelar()" mat-button>Cancelar</button>
      <button [disabled]="form.invalid" type="submit" mat-button cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
  </form>