<mat-toolbar >
    <span>Listado de Garages</span>
  </mat-toolbar>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  
  <mat-card appearance="outlined">
  
    <button class="addbt" (click)="addeditgarage()" mat-stroked-button>Agregar</button>
  
    <table matSort  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="nroCochera">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nroCochera </th>
        <td mat-cell *matCellDef="let element"> {{element.nroCochera}} </td>
      </ng-container>
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion }} </td>
      </ng-container>
      <ng-container matColumnDef="cantLugares">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> cantLugares </th>
        <td mat-cell *matCellDef="let element"> {{element.cantLugares}} </td>
      </ng-container>
      <ng-container matColumnDef="valorCocheraxH">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> valorCocheraxH </th>
        <td mat-cell *matCellDef="let element"> {{element.valorCocheraxH}} </td>
      </ng-container>
      <ng-container matColumnDef="idservicios">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> idservicios </th>
        <td mat-cell *matCellDef="let element"> {{element.idservicios}} </td>
      </ng-container>
      <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> imagen </th>
        <td mat-cell *matCellDef="let element"> {{element.imagen}} </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element"> 
          <mat-icon (click)="addeditgarage(element.id)" class="btnedit">edit_note</mat-icon>  
          <mat-icon (click)="deletegarage(element.id)" class="btndelete">delete</mat-icon>  
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  
    